<!-- start custom head snippets -->
<meta name="google-site-verification" content="IMEi65fqIYcjLCwFj1KnMlQLFcykwO4nGYLc0rVfwvU" />

<!-- MathJax -->
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>

<script type="application/ld+json">
        {
            "@context" : "http://schema.org",
            "@type" : "Organization",
            "name" : "citroscience",
            "url" : "https://citroscience.github.io/",
            "logo": "https://citroscience.github.io/images/logo.png",
            "sameAs" : [
                    "http://www.facebook.com/citroscience",
                    "http://www.twitter.com/citroscience",
            ]
        }
    </script>

    <script type="application/ld+json">
        {
            "@context" : "http://schema.org",
            "@type" : "WebSite",
            "name" : "citroscience",
            "alternateName" : "A different perspective of science.",
            "url" : "https://citroscience.github.io/"
        }
    </script>

 <link rel="stylesheet" href="dist/selection-sharer.css" />

 <script type='text/javascript' data-cfasync='false' src='//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js' data-shr-siteid='61cf74e63327c4a3261bea25e04c29d0' async='async'></script>

<!-- og. for twitter and facebook --> 

    <!-- for Pinterest --> 
    <meta name="p:domain_verify" content="4daed5a03e0a30221c58bb6badee393b"/>
    <!-- for Facebook -->   
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:image" content="{{page.image}}" />
    <meta property="og:url" content="{{page.url}}" />
    <meta property="og:description" content="{{page.summary}}" />
    <meta property="og:type" content= "website" />
    <!-- for Twitter -->          
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@citroscience">
    <meta name="twitter:creator" content="@citroscience">
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="{{page.summary}}">
    <meta name="twitter:image" content="{{page.image}}">

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<script src="//fast.eager.io/PG0Y7ViYhk.js"></script>

<!-- end custom head snippets -->